<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav d-flex justify-content-start w-100">
                        <li class="nav-item mr-3">
                            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Category</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" routerLink="/user" routerLinkActive="active">Users</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
            <!-- <app-category></app-category> -->
            <!-- <app-add-edit></app-add-edit> -->
        </div>
    </div>
</div>

